<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <nav class="navbar navbar-expand-lg " style="background-color:hsl(88, 34%, 23%);; margin-bottom: -40px; margin-top: 1px;">
            <div class="container w-20">
                <p style="margin-bottom: 33px; font-family: 'Montserrat', sans-serif; font-size: 14px;" class="text-white">
                    Estimated delivery time: 2-7 days</p>
                <a class="navbar-brand text-white"
                    style="margin-bottom: 33px; margin-left: 5px; font-family: 'Montserrat', sans-serif; font-size: 14px;"
                    href="#"></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white"
                                style="margin-bottom: 33px; margin-left: 459px; font-family: 'Montserrat', sans-serif; font-size: 14px;"
                                aria-current="page" href="#">
                                Free & flexible 15 days return</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                style="margin-bottom: 33px; font-family: 'Montserrat', sans-serif; font-size: 14px;"
                                href="#"><i class="fa-solid fa-envelope"
                                    style="margin-right: 5px;"></i>contact : @joeljonahsz@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
                <div style="width: 50%; padding-left: 20px;"><a class="navbar-brand " href="#"><img
                             style="width: 240px; height: auto;" alt=""></a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
        <header class="py-5" style="background-color:hsl(88, 34%, 23%);">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 style="font-family: 'Bungee Inline', cursive;;" class="display-6 fw-bolder">Whoever said money can’t buy happiness simply didn’t know where to go shopping.</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
    
        <!-- Button trigger modal -->
        <button class="btn btn mt-2 me-2  px-4 px-lg-5" style="padding: 1%;margin-left: 1%;" type="submit">
            <i class="bi-cart-fill me-"></i>
         <button routerLink="user-home" class="btn btn-outline-success " type="submit">>
               <a  style="font-family:'Bungee Inline', cursive; "> check out our collections</a>
                
         </button >
        </button>
    
       
        <div class="card" style="width: 30rem; margin-left:35%; ">

                <img style="opacity:0.94;" src="https://i.postimg.cc/Kj85xtDN/pexels-elina-sazonova-2705752.jpg" class="card-img-top" alt="...">
    
        
          </div>
          
       <h5 style="text-align: center ;text-decoration: wavy;"> 10% off for the New Customers</h5>
    
     
          <div class="card" style="width: 30rem; margin-left:35%; margin-top: 2%;">

            <img style="opacity:0.94;" src="https://i.postimg.cc/KvXn9Xdf/pexels-cottonbro-studio-6626903.jpg" class="card-img-top" alt="...">

    
      </div>
   
        <div class="course_selection" style="background-color: #f5f5f5; padding: 100px 0;">
            <div class="container w-10">
                <div class="header-sec" style="margin-bottom: 20px;">
                    <h3
                        style="color: hsl(88, 34%, 23%); padding-top: 0; margin: 0 auto; text-align: center; font-weight: 400;font-size: 32px;">
                       what is  J$L? </h3>
                </div>
                <div class="corousal">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 course-column p-3" style="background-color: white;">
                            <div class="img-sec">
                                <img style="width:100%; " src="" alt="">
                            </div>
        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" style="background-color: white;">
        
                            <div class="second-col p-3">
        
                                <a style="text-decoration:none; "
                                    class="stroke-btn">
                                    <h3 style="color: #413e42;">J$L is an Indian multinational clothing-retail company </h3>
                                </a>
        
                                <div>
                                    <p></p>
                                    <p>JoeL Group or J$L Group is a multinational clothing company based in India that focuses on fast-fashion clothing for anyone, any gender</p>
                                    <p><strong>J$L is the second largest international clothing retailer.J$Lwas founded by Joel jonahs joy, and the shop's current CEO is colleen hoover.</strong></p>
                                   
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
    
            <div class="container mt-5 " style="color: #f5f5f5;">
                <div class="row ">
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card" style="width: 20rem; height: 37rem; border: none; margin-left: 20px; margin-top: 15px;">
                            <img src="https://i.postimg.cc/3wZxMqrP/hmgoepprod.jpg" class="card-img-top" alt="...">
                            <div class="card-body mt-2">
                                <a href="#" style="text-decoration: none;">
                                    <h5 class="card-title" style="color: #1d1d1e;">SELECTED BY NADIA
                                        A CURATED WORK-OUT COLLECTION
                                        </h5>
                                </a>
                                <p class="card-text mt-2" style="color: black;">Football player Nadia Nadim curated a training wardrobe that not only supports her during intense workout sessions, but also resonates with her personal style. Nadia joined H&M Move in the role as Brand Mover to get the whole world and everybody moving. The new J$L Move ‘Selected by’ collection for women will be available online</p>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card" style="width: 20rem; height: 37rem; border: none; margin-left: 20px;  margin-top: 15px;">
                            <img src="https://i.postimg.cc/cHgYsZKv/shoot-4.jpg" class="card-img-top" alt="...">
                            <div class="card-body mt-2">
                                <a href="#" style="text-decoration: none;">
                                    <h5 class="card-title" style="color: #1d1d1e;">Behind the scenes with J$L
                                    <br>Backstage, between fittings and sets</h5>
                                </a>
                                <p class="card-text mt-3" style="color: black;"> we took a peek at the set, which consisted of four smaller sets and rooms, part of a Member House concept. A narrow majestic red staircase with velvety red walls and a pink door at the top caught our eye at the centre of the room. On the left side was a bright yellow tiled bathroom with pink details, like one of those you see in luxurious hotels.</p>
                             
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <div class="card" style="width: 20rem; height: 37rem; border: none; margin-left: 20px;  margin-top: 15px;">
                            <img src="https://i.postimg.cc/dQZXfy0Y/hmgoepprod-4.jpg" class="card-img-top" alt="...">
                            <div class="card-body mt-2">
                                <a href="#" style="text-decoration: none;">
                                    <h5 class="card-title" style="color:#1d1d1e;">Fashion makeover for the plain
                                        </h5>
                                </a>
                                <p class="card-text mt-3" style="color: black;">(Re)-inventing your personality, making a statement and standing out in the crowd – hasn’t this always been part of fashion? We fall in love with that one garment, we create that look that boosts our confidence – but from time to time, there is this one forgotten piece. It lays in the deep, dark corner of the back of our wardrobe: Maybe it is old, maybe it is broken, or maybe it is still brand new with the tag on – a silent witness of a change of mind, style or body.
                                    .</p>
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
        </div>
        <footer class="py-5 "style="background-color:#3d5027">
            <div class="container"><p class="m-0 text-center text-white">
                The content of this site is copyright-protected and is the property of J$L, Joel Jonahs Joy.
                
                
                <br>INDIA Rs.<br>J$L since 2000</p></div>
        </footer>
        
    </body>

